* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aliceblue;
}

#heading-div {
    padding-bottom: 3%;
    display: flex;
    justify-content: center;
    padding-top: 3%;
}

p {
    font-size: xx-large;
    font-weight: 600;
}

hr {
    border-color: gray;
    border-style: dotted;
}

#body-div {
    display:flex;
    flex-direction: row;
}

#form-div {
    width: 50%;
    /* border: 1px solid black; */
    height: 80vh;
    padding-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}


#book-div {
    width: 50%;
    /* border: 1px solid black; */
    height: 80vh;
    padding-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

ul {
    padding-top: 30px;
}

li {
    list-style-type: none;
    padding: 20px;
}

.btn{
    padding-top: 50px;
}

label,
th,
td {
    font-size: large;
    font-weight: 600;
    color: rgb(8, 51, 60);
    /* padding-right: 10%; */
}

input {
    padding: 5px 10px 5px 10px;
    border: 1px solid gray;
    border-radius: 3px;
}

button {
    padding: 5px 30px 5px 30px;
    border-radius: 3px;
    border: 1px solid gray;
    background-color: rgb(107, 107, 229);
    font-size: medium;
    font-weight: 700;
    color: white;
}

table {
    border: 1px solid gray;
    padding: 5px;
    width: 35vw;
}

td {
    text-align: center;
}